// Table styling

table {
    border-collapse: collapse;
    border: 0px;
}

td, th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

blockquote, pre, .message {
    padding: 10px 18px;
    margin: 0px 0px 30px -20px;
    margin-top: inherit;
    color: #7a7a7a;
}

blockquote {
    border-left: 10px solid #C7F66A;
}

blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.message {
    border-left: 10px solid #F66A81;
}

code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
    background-color: #f9f9f9;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    border-radius: 3px;
}

pre {
    display: block;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    border-left: 10px solid #F6DF6A;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px;
}

.highlight pre {
    margin-bottom: 0;
}